---
import "../styles/global.css";
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>Astro Tutorial</title>
<meta name="description" content="Learning Astro" />
<link rel="icon" type="x-icon" href="/favicon.svg" />
